#header{

    background-color:rgb(207, 142, 0);
    color: oldlace;

}

#logo img{
    height: 200px;
}
#menu {
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    list-style: none;
}
#menu li a {
    color: rgb(243, 199, 103); ;
    text-decoration: none;
}
.btn {
    background-color: rgb(102, 66, 0);
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    transform: translateY(-50%);
    border-radius: 10px 0px 0px 0px;

}
.btn:hover{
    background-color: rgb(68, 39, 0);
}

